# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=inventory_dashboard

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5173

#cuenta
ADMIN_EMAIL=admin@inventory.com
ADMIN_PASSWORD=admin1234

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=inventory-dashboard